:root {
  --penguin-face: white;
  --penguin-picorna: orange;
  --penguin-skin: gray;
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  position: fixed;
  width: 100%;
  height: 10vh;
  justify-content: right;
  align-items: center;
  background-color: black;
}

a {
  text-decoration: none;
  color: white;
  padding-right: 30px;
}

.welcome-container {
  display: flex;
  color: white;
  margin-bottom: 100px;
  background-color: rgb(
    238,
    199,
    170
  ); /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom right, #83c8c1, #7cc2ad);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

h1 {
  font-size: 60px;
  font-weight: 900;
  font-style: bold;
  text-align: center;
}

h2 {
  font-size: 20px;
  font-weight: 400;
  font-style: italic;
}

h3 {
  font-size: smaller;
}

.project-container {
  width: 100%;
  height: 40%;
  display: flex;
  overflow: wrap;
  margin-bottom: 100px;
}

.project-tile {
  aspect-ratio: 1 / 1;
  width: 40%;
  background-color: #e8a87c;
  margin-left: 10px;
}

/* Navbar is centered for small screens */
@media (max-width: 480px) {
  nav {
    justify-content: center;
  }

  a {
    padding: 0 15px;
  }
}
